html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  /* Fondo oscuro general */
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Ocupa toda la altura del contenedor padre */
  width: 100%;
  /* Ocupa todo el ancho del contenedor padre */
}

/* Navbar */
.navbar {
  background-color: #1c1c1c;
  color: white;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  z-index: 999; /* Mantener el navbar por encima si es visible */
}
/* Contenedor principal */
.content {
  margin-left: 250px; /* Espacio para el navbar de escritorio */
  width: calc(100% - 250px);
  height: 100vh;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Header */
.header {
  background-color: #1c1c1c;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0f0;
  flex-shrink: 0;
  /* No permite que el header se comprima */
  height: 60px;
  /* Fija la altura del header */
  box-sizing: border-box;
}

/* Área principal */
.main {
  flex: 1;
  /* Ocupa el resto del espacio disponible */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
  /* Scroll vertical si es necesario */
  width: 100%;
  /* Asegura que ocupe todo el ancho disponible */
  height: auto;
  /* Permite crecimiento dinámico según el contenido */
  box-sizing: border-box;
}


/* Listado de equipos */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

ul li {
  background-color: #2a2a2a;
  color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li button {
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

ul li button:hover {
  background-color: #e03e3e;
}

/* Ocultar el navbar en móviles y ajustar el contenido */
@media (max-width: 768px) {
  .navbar {
    display: none; /* Ocultar el navbar de escritorio */
  }

  .content {
    margin-left: 0; /* Eliminar margen en móviles */
    width: 100%; /* Ocupa el ancho completo */
  }
}